{% extends "main/base.html" %}
{% block heading %}程式語言分類{% endblock %}
{% block content %}
{% if categories %}
 <table>
	 <tr><th>分類名稱</th><th></th><th></th></tr>
 	{% for category in categories %}
 		<tr>
 			<td><a href={% url 'wiki:category' category.id %}>{{category.name}}</a>
 			</td>
 			<td>
 			{% if user.is_authenticated %}
 				<form action={% url 'wiki:updateCategory' category.id %}>
 					<input type="submit" value=修改>
 				</form>
 			{% endif %}
 			</td>
 			<td>
 			{% if user.is_authenticated %} 
 			  <form method=post action={% url 'wiki:deleteCategory' category.id %}>
 				{% csrf_token %}
 				<input type=submit value=刪除>
 			  </form>
 			{% endif %}
 			</td>
 		</tr>
 	{% endfor %}
 </table>
{% else %}
 	<p><strong>目前尚未設定程式語言類別。</strong></p>
{% endif %}
{% if user.is_authenticated %}
<p><a href={% url 'wiki:addCategory' %}>新增程式語言分類</a></p>
{% endif %}
<p><a href={% url 'main:main' %}>回首頁</a><p>
{% endblock %}